<h1>Login Page </h1>
<form  (ngSubmit)="onLogin">
    <div class="form-group">
      <label for="username">UserName</label>
      <input type="text" class="form-control" id="username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
  <div class="container text-center">
    <a href="apis" class="btn btn-info" role="button">submit</a>
</div>
</form>
  