<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="home">Home</a></li>
        <li><a href="galary">Page 1</a></li>
        <li><a href="databind">Databinding</a></li>
        <li><a href="dir">Directive</a></li>
        <li><a href="pipe">Pipe</a></li>
        <li><a href="forms">Forms</a></li>-->
        <li><a href="apis">APIS</a></li>
        <li><a href="delete">Delete</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <!--<h1>Login Page</h1>
<form (ngSubmit)="onLogin()">
    <div class="form-group">
      <label for="username">UserName</label>
      <input type="text" class="form-control" id="username" #username>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" #password>
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Login</button>
  </form>
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{errorMessage}}
    </div>-->
  
 
 